.dice-rolling-panel {
    top: 0;
    position: fixed;
    z-index: 57000;
    pointer-events: none;
    width: 100%;
    height: 100%;
    &__container {
        width: 100%;
        height: 100%;
    }
    .dice-toolbar {
        position: fixed;
        z-index: 1;
        bottom: 10px;
        left: 10px;
        pointer-events: all;
    }
}

.dice-toolbar {
    font-family: "Roboto";
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: var(--button-radius);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);
    cursor: pointer;
    background-color: var(--dice-color)
}

.dice-toolbar div {
    box-sizing: content-box
}

.dice-toolbar__dropdown {
    border-radius: var(--button-radius);
    background-color: black;
    display: flex
}

.dice-toolbar__dropdown-top {
    position: absolute;
    top: var(--dropdown-top);
    bottom: var(--dropdown-bottom);
}

.dice-toolbar__dropdown-die {
    height: var(--button-size);
    width: var(--button-size);
    border-radius: var(--button-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice-toolbar__dropdown-die .dice-icon-die {
    background-color: #fff;
}

.dice-toolbar__dropdown-die .die-button-count {
    display: none;
}

.dice-toolbar__dropdown-die:hover {
    background-color: var(--dice-color-hover);
}

.dice-toolbar__dropdown-selected .dice-toolbar__dropdown-die {
    background: #182026;
    min-width: calc(var(--button-size) - 6px);
    width: calc(var(--button-size) - 6px);
    height: calc(var(--button-size) - 6px);
    border: 3px solid var(--dice-color);
    color: #182026;
}

.dice-toolbar__dropdown-selected .dice-toolbar__dropdown-die .dice-icon-die {
    background-color: #fff;
    mask-image: url("data:image/svg+xml,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8H10V2C10 1.447 9.552 1 9 1C8.448 1 8 1.447 8 2V8H2C1.448 8 1 8.447 1 9C1 9.553 1.448 10 2 10H8V16C8 16.553 8.448 17 9 17C9.552 17 10 16.553 10 16V10H16C16.552 10 17 9.553 17 9C17 8.447 16.552 8 16 8Z' fill='%23BFCCD6'/%3e %3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8H10V2C10 1.447 9.552 1 9 1C8.448 1 8 1.447 8 2V8H2C1.448 8 1 8.447 1 9C1 9.553 1.448 10 2 10H8V16C8 16.553 8.448 17 9 17C9.552 17 10 16.553 10 16V10H16C16.552 10 17 9.553 17 9C17 8.447 16.552 8 16 8Z' fill='%23BFCCD6'/%3e %3c/svg%3e");
    mask-size: 30px;
    -webkit-mask-size: 30px;
    margin: 0;
    transform: rotate(45deg)
}

.dice-toolbar__dropdown-selected .dice-toolbar__dropdown-die:hover {
    background-color: #8a9ba8
}

.dice-toolbar__dropdown-selected .dice-toolbar__dropdown-die.dice-toolbar--hover {
    border: 3px solid var(--dice-color-hover)
}

.dice-toolbar__dropdown .dice-toolbar__target {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden
}

.dice-toolbar__dropdown .dice-toolbar__target>* {
    border: none;
    background-color: darkred;
    color: rgba(255, 255, 255, .8);
    white-space: nowrap
}

.dice-toolbar__dropdown .dice-toolbar__target>button:first-child {
    flex: 1 1 auto
}

.dice-toolbar__dropdown .dice-toolbar__target>button:first-child:hover {
    background-color: unset
}

.dice-toolbar__dropdown .dice-toolbar__target-menu-button {
    flex: 0 0 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--dice-color)
}

.dice-toolbar__dropdown .dice-toolbar__target-menu-button:hover {
    background-color: var(--dice-color-hover)
}

.dice-toolbar__dropdown .dice-toolbar__target-menu-button:after {
    content: "";
    background: rgba(255, 255, 255, .5);
    position: absolute;
    bottom: 25%;
    left: 0;
    height: 50%;
    width: 1px
}

.dice-toolbar__dropdown .dice-toolbar__target-user {
    color: rgba(255, 255, 255, .8);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px
}

.dice-toolbar__dropdown .dice-toolbar__target-roll {
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
    text-align: start;
    min-width: 60px
}

.dice-toolbar--hover {
    background-color: var(--dice-color-hover)
}

.dice-toolbar__roll {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: visibility 0s, opacity .15s linear;
    user-select: none;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center
}

.dice-toolbar__input {
    text-transform: uppercase;
    height: var(--button-size);
    border: 0;
    background: rgba(0, 0, 0, 0);
    margin-left: 15px;
    display: none
}

.dice-toolbar.rollable .dice-toolbar__target {
    display: inline-flex;
    opacity: 1;
    width: 100%;
    height: var(--button-size);
    border-radius: var(--roll-button-radius);
}

.dice-toolbar.rollable .dice-toolbar__roll {
    position: relative;
    visibility: visible;
    opacity: 1
}

.dice-icon-die {
    height: 32px;
    width: 32px;
    display: inline-block;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #8a9ba8
}

.dice-icon-die--d20 {
    mask-image: url("data:image/svg+xml,%3csvg width='28' height='31' viewBox='0 0 28 31' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M14 0L0 7.5V22.7L14 30.2L27 23.2L28 22.6V7.5L14 0ZM12 8.3L6.1 17.1L2.4 9.1L12 8.3ZM8 18L14 8.9L20 18H8ZM21.8 17.1L16 8.3L25.5 9L21.8 17.1ZM15 2.8L22.4 6.8L15 6.2V2.8ZM13 2.8V6.2L5.6 6.8L13 2.8ZM2 12.8L4.7 18.8L2 20.4V12.8ZM3 22.1L5.7 20.5L10.1 26L3 22.1ZM8 20H19L14 27.5L8 20ZM17.9 25.9L22.3 20.4L25 22L17.9 25.9ZM23.5 18.9L23.3 18.8L26 12.8V20.4L23.5 18.9Z' /%3e %3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg width='28' height='31' viewBox='0 0 28 31' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M14 0L0 7.5V22.7L14 30.2L27 23.2L28 22.6V7.5L14 0ZM12 8.3L6.1 17.1L2.4 9.1L12 8.3ZM8 18L14 8.9L20 18H8ZM21.8 17.1L16 8.3L25.5 9L21.8 17.1ZM15 2.8L22.4 6.8L15 6.2V2.8ZM13 2.8V6.2L5.6 6.8L13 2.8ZM2 12.8L4.7 18.8L2 20.4V12.8ZM3 22.1L5.7 20.5L10.1 26L3 22.1ZM8 20H19L14 27.5L8 20ZM17.9 25.9L22.3 20.4L25 22L17.9 25.9ZM23.5 18.9L23.3 18.8L26 12.8V20.4L23.5 18.9Z' /%3e %3c/svg%3e");
    margin-left: 4px
}

.dice-icon-die--d12 {
    mask-image: url("data:image/svg+xml,%3csvg width='30' height='32' viewBox='0 0 30 32' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M25 4L15 0L5 4L0 11V21L6 28L15 32L24 28L30 21V11L25 4ZM2 11.9L6 14L9.7 22.2L6.3 25.6L2 21V11.9ZM12 22L8.3 14.8L15 9.2L21.7 14.7L18 22H12ZM28 21L23.7 25.7L20.3 22.3L24 14L28 11.9V21ZM16 2.2L23.8 5.8L27 10L22.5 12.6L16 7.5V2.2ZM6.2 5.8L14 2.2V7.4L7.5 12.5L7 12.4L3 10L6.2 5.8ZM8.3 26.8L11.3 23.8H18.8L21.8 26.8L15 30L8.3 26.8Z'/%3e %3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg width='30' height='32' viewBox='0 0 30 32' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M25 4L15 0L5 4L0 11V21L6 28L15 32L24 28L30 21V11L25 4ZM2 11.9L6 14L9.7 22.2L6.3 25.6L2 21V11.9ZM12 22L8.3 14.8L15 9.2L21.7 14.7L18 22H12ZM28 21L23.7 25.7L20.3 22.3L24 14L28 11.9V21ZM16 2.2L23.8 5.8L27 10L22.5 12.6L16 7.5V2.2ZM6.2 5.8L14 2.2V7.4L7.5 12.5L7 12.4L3 10L6.2 5.8ZM8.3 26.8L11.3 23.8H18.8L21.8 26.8L15 30L8.3 26.8Z'/%3e %3c/svg%3e");
    margin-left: 1px
}

.dice-icon-die--d10,
.dice-icon-die--d100 {
    mask-image: var(--icon-d10);
    -webkit-mask-image: var(--icon-d10);
}

.dice-icon-die--d100 {
    mask-repeat: space no-repeat;
    -webkit-mask-repeat: space no-repeat;
    mask-size: 50%;
    -webkit-mask-size: 50%;
    margin-top: 7px;
    width: 48px
}

.dice-icon-die--d8 {
    mask-image: var(--icon-d8);
    -webkit-mask-image: var(--icon-d8);
    margin-left: 6px
}

.dice-icon-die--d6 {
    mask-image: var(--icon-d6);
    -webkit-mask-image: var(--icon-d6);
    margin-left: 4px
}

.dice-icon-die--d4 {
    mask-image: var(--icon-d4);
    -webkit-mask-image: var(--icon-d4);
}

.dice-die-button {
    width: var(--button-size);
    height: var(--button-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--button-radius);
    background: #182026;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);
    margin: 5px 0;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer
}

.dice-die-button__count {
    position: absolute;
    top: 0;
    right: -15px;
    border-radius: 15px;
    background-color: #182026;
    padding: 2px 8px;
    user-select: none;
    color: #8a9ba8;
    z-index: 100
}

.dice-die-button__tooltip {
    display: none;
    position: absolute;
    left: 50px;
    width: 46px;
    height: 32px;
    background: #fff;
    border: 1px solid #d7e1e8;
    box-sizing: border-box;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase
}

.dice-die-button__tooltip__pip {
    position: absolute;
    left: -5px;
    width: 8px;
    height: 8px;
    background: #fff;
    border: 1px solid #d7e1e8;
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    transform: rotate(45deg)
}

@media(hover: hover) {
    .dice-die-button:hover {
        background: #8a9ba8;
        color: #182026
    }

    .dice-die-button:hover .dice-icon-die {
        background-color: #182026
    }

    .dice-die-button:hover .dice-die-button__tooltip {
        display: flex
    }
}

.dice-die-button--selected {
    background: #8a9ba8;
    color: #182026
}

.dice-die-button--selected .dice-icon-die {
    background-color: #182026
}
