@use "icons";
//@import "dice.scss";

:root {
    --dice-color: black;
    --dice-color-hover: darkgray;
    --toolbar-left: 10px;
    --icon-gear: #{icons.$icon-gear-9};
    --icon-d4:   #{icons.$icon-d4};
    --icon-d6:   #{icons.$icon-d6};
    --icon-d8:   #{icons.$icon-d8};
    --icon-d10:  #{icons.$icon-d10};
    --icon-d12:  #{icons.$icon-d12};
    --icon-d20:  #{icons.$icon-d20};

    --button-size: 50px;
    --button-radius: 25px;
    --roll-button-radius: 0px 50px 50px 0px;

    --toolbar-bottom: 10px;
    --toolbar-top: initial;
    --toolbar-left: 10px;
    --toolbar-right: initial;

    --dropdown-bottom: 50px;
    --dropdown-top: initial;
    --dropdown-left: initial;
    --dropdown-right: initial;
}

.dice-container {
    width: 100%;
    height: 100%;
}

.dice-toolbar {
    font-family: "Roboto";
    position: relative;
    display: flex;
    align-items: center;
    height: var(--button-size);
    width: var(--button-size);
    border-radius: var(--button-radius);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);
    cursor: pointer;
    background-color: var(--dice-color)
}

.modal-overlay {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.settings-modal {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings-panel {
    background-color: whitesmoke;
    padding: 12px;
    border-color: black;
    border-width: medium;
    border-style: solid;
    border-radius: 12px;
}

.settings-panel label {
    margin: 6px;
}

.settings-panel th, td {
    padding: 3px;
}

.settings-panel input[type="number"] {
    max-width: 50px;
}

.text-align-right {
    text-align: right;
}

.config-button {
    width: 24px;
    color: white;
    text-align: center;
    border-radius: 4px;
}

.config-button-add {
    background-color: green;
}

.config-button-remove {
    background-color: darkred;
}