@use "icons";
//@import "dice.scss";

:root {
    --dice-color: black;
    --dice-color-hover: darkgray;
    --toolbar-left: 10px;
    --icon-gear: #{icons.$icon-gear-9};
    --icon-d4:   #{icons.$icon-d4};
    --icon-d6:   #{icons.$icon-d6};
    --icon-d8:   #{icons.$icon-d8};
    --icon-d10:  #{icons.$icon-d10};
    --icon-d12:  #{icons.$icon-d12};
    --icon-d20:  #{icons.$icon-d20};

    --button-size: 50px;
    --button-radius: 25px;
    --roll-button-radius: 0px 50px 50px 0px;

    --toolbar-bottom: 10px;
    --toolbar-top: initial;
    --toolbar-left: 10px;
    --toolbar-right: initial;

    --dropdown-bottom: 50px;
    --dropdown-top: initial;
    --dropdown-left: initial;
    --dropdown-right: initial;

    --icon-margin: 3px;
    --icon-time: 250ms;
    --transition-time: 250ms;

    --target-direction: ltr;
}

.roll-overlay-container {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 57000;
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.roll-toolbar {
    font-family: "Roboto";
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    pointer-events: all;
    direction: var(--target-direction);
    cursor: pointer;
    background-color: maroon;
    bottom: var(--toolbar-bottom);
    top: var(--toolbar-top);
    left: var(--toolbar-left);
    right: var(--toolbar-right);
    height: var(--button-size);
    border-radius: var(--button-radius);

    .die-button:hover {
        box-shadow: 0 0 18px 0px rgba(255, 255, 255, 0.75) inset;
    }
}

.roll-toolbar-button {
    height: var(--button-size);
    width: var(--button-size);
    margin: 0px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg width='28' height='31' viewBox='0 0 28 31' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M14 0L0 7.5V22.7L14 30.2L27 23.2L28 22.6V7.5L14 0ZM12 8.3L6.1 17.1L2.4 9.1L12 8.3ZM8 18L14 8.9L20 18H8ZM21.8 17.1L16 8.3L25.5 9L21.8 17.1ZM15 2.8L22.4 6.8L15 6.2V2.8ZM13 2.8V6.2L5.6 6.8L13 2.8ZM2 12.8L4.7 18.8L2 20.4V12.8ZM3 22.1L5.7 20.5L10.1 26L3 22.1ZM8 20H19L14 27.5L8 20ZM17.9 25.9L22.3 20.4L25 22L17.9 25.9ZM23.5 18.9L23.3 18.8L26 12.8V20.4L23.5 18.9Z' /%3e %3c/svg%3e");
    background-size: calc(var(--button-size) - 6 * var(--icon-margin));
    border-radius: var(--button-radius);
    transform: initial;
    transition-property: background-image, background-size, transform, width, height, margin;
    transition-duration: 0ms, 0ms, 500ms, 500ms, 500ms, 500ms ;
    transition-delay: 500ms, 500ms, 0s, 0s, 0s, 0s;

    &--selected {
        @extend .roll-toolbar-button;
        height: calc(var(--button-size) - 2 * var(--icon-margin));
        width: calc(var(--button-size) - 2 * var(--icon-margin));
        margin: var(--icon-margin);
        background-image: url("data:image/svg+xml,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8H10V2C10 1.447 9.552 1 9 1C8.448 1 8 1.447 8 2V8H2C1.448 8 1 8.447 1 9C1 9.553 1.448 10 2 10H8V16C8 16.553 8.448 17 9 17C9.552 17 10 16.553 10 16V10H16C16.552 10 17 9.553 17 9C17 8.447 16.552 8 16 8Z' fill='%23BFCCD6'/%3e %3c/svg%3e");
        background-size: calc(var(--button-size) - 4 * var(--icon-margin));
        border-radius: calc(var(--button-radius) - var(--icon-margin));
        transform: rotate(45deg);
        transition-property: background-image, background-size, transform, width, height, margin;
        transition-duration: 0ms, 0ms, 500ms, 500ms, 500ms, 500ms;
        //transition-delay: 0ms, 0ms, 250ms, 250ms, 250ms, 250ms;
    }
}

.roll-toolbar-target-group {
    display: none;
    &.rollable {
        display: inline-flex;
    }
    &> :last-child {
        border-radius: var(--roll-button-radius);
        margin-inline-end: calc(0.5 * var(--button-radius));
    }
    button {
        background-color: transparent;
        border: none;
    }
    p {
        font-size: max(calc(var(--button-size) - 32px), 18px);
        font-weight: 900;
    }
}

.roll-dropdown {
    display: none;
    position: absolute;
    top: var(--dropdown-top);
    bottom: var(--dropdown-bottom);
    left: var(--dropdown-left);
    right: var(--dropdown-right);
    &--selected {
        @extend .roll-dropdown;

        display: block;
    }

    .die-button {
        width: var(--button-size);
        height: var(--button-size);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--button-radius);
        background: #182026;
        color: #8a9ba8;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);
        margin: 5px 0;
        position: relative;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        cursor: pointer
    }
}

.die-button__count {
    position: absolute;
    top: 0;
    right: -15px;
    border-radius: 15px;
    background-color: #182026;
    padding: 2px 8px;
    user-select: none;
    color: #8a9ba8;
    z-index: 100
}

.die-button__tooltip {
    display: none;
    position: absolute;
    left: 50px;
    width: 46px;
    height: 32px;
    background: #fff;
    border: 1px solid #d7e1e8;
    box-sizing: border-box;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase
}

.die-button__tooltip__pip {
    position: absolute;
    left: -5px;
    width: 8px;
    height: 8px;
    background: #fff;
    border: 1px solid #d7e1e8;
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    transform: rotate(45deg)
}

.dropdown-die-button:hover .die-button__tooltip {
    display: flex;
}

.die-button-icon {
    display: inline-block;
    width: calc(var(--button-size) - 2 * var(--icon-margin));
    height: calc(var(--button-size) - 2 * var(--icon-margin));
    margin: var(--icon-margin);
    background-position: center;
    background-repeat: no-repeat;
}

.settings-icon {
    // mask-image: var(--icon-gear);
    // -webkit-mask-image: var(--icon-gear);
    background-image: var(--icon-gear);
}

.die-button img {
    height: calc(var(--button-size) - 2 * var(--icon-margin));
    width: calc(var(--button-size) - 2 * var(--icon-margin));
}

.modal-overlay {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.settings-modal {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings-panel {
    background-color: whitesmoke;
    padding: 12px;
    border-color: black;
    border-width: medium;
    border-style: solid;
    border-radius: 12px;
}

.settings-panel label {
    margin: 6px;
}

.settings-panel th, td {
    padding: 3px;
}

.settings-panel input[type="number"] {
    max-width: 50px;
}

.text-align-right {
    text-align: right;
}

.config-button {
    width: 24px;
    color: white;
    text-align: center;
    border-radius: 4px;
}

.config-button-add {
    background-color: green;
}

.config-button-remove {
    background-color: darkred;
}

.die-row-text {
    min-width: 50px;
    width: 128px;
    &.label {
        width: 48px;
    }
}

$ex-active-color: #555555;
$ex-normal-color: #aaaaaa;

button.expander {
    width: 100%;
    padding: 8px;
    color: black;
    background-color: $ex-normal-color;
    border: 2px solid black;
    text-align: left;
    &:hover {
        background-color: $ex-active-color;
        color: white;
    }
    &::after {
        content: '\02795';
        font-size: 13px;
        margin-left: 5px;
        float: right;
    }
    &.active {
        background-color: $ex-active-color;
        color: white;
        &:hover {
            background-color: $ex-normal-color;
            color: black;
        }
        &::after {
            content: '\2796';
            font-size: 13px;
            margin-left: 5px;
            float: right;
        }
    }
}
